body{
    background-color: black;
}


/* Header */
.rw-conversation-container .rw-header{
    background-color: #171a21 !important;
}

/* Background */
.rw-conversation-container #rw-messages{
    background-color: #1b2838 !important;
}

/* Client message */
.rw-conversation-container .rw-client{
    background-color: #2a475e !important;
}

/* Bot message */
.rw-conversation-container .rw-response{
    background-color: #2a475e !important;
}

/*Client Message Box*/
.rw-conversation-container .rw-sender {
    background-color: #171a21 !important;

}
.rw-conversation-container .rw-sender .rw-new-message{
    height: 35px !important;
}

.rw-image-frame{
    height: auto !important;
}

/*Client Message Box*/
.rw-conversation-container .rw-send {
    background-color: #171a21 !important;
}

/*Client Message Box*/
.rw-conversation-container .rw-sender .rw-new-message{
    background-color: #171a21 !important;
}

/*Botões*/
.rw-conversation-container .rw-replies {
    display:block !important;
}

.rw-conversation-container .rw-response{
    color: white !important;
}

.rw-conversation-container .rw-client{
    color: #b3b3b3 !important;
}

/*Close Button*/
.conversation-container close-button {
    background-color: #171a21 !important;
}

/*Open Button*/
.rw-launcher{
    background-color: #171a21 !important;
}